<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advanced Search</title>

</head>
<body>
    <h1>Advanced Search</h1>
    <a href="{{ url_for('home') }}">
        <button class="home">Home</button>
    </a>

    <!-- Form for searching Todo -->
    <form method="post" action="{{ url_for('advanced_search') }}">
        {{ form_todo.csrf_token }}
        {{ form_todo.hidden_tag() }}

        <label for="task_name">{{ form_todo.task_name.label }}</label>
        {{ form_todo.task_name }}

        <label for="is_complete">{{ form_todo.is_complete.label }}</label>
        {{ form_todo.is_complete }}

        {{ form_todo.submit }}
    </form>

    <!-- Form for searching Note -->
    <form method="post" action="{{ url_for('advanced_search') }}">
        {{ form_note.csrf_token }}
        {{ form_note.hidden_tag() }}

        <label for="title">{{ form_note.title.label }}</label>
        {{ form_note.title }}

        <label for="body">{{ form_note.body.label }}</label>
        {{ form_note.body }}

        {{ form_note.submit }}
    </form>
</body>
</html>
