<!DOCTYPE html>
<html>
  <head>
    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    {% endblock %}
    {% if title %}
    <title>{{ title }} - Sticky Notes</title>
    {% else %}
    
    {% endif %}
  </head>
  <body>
    <div>
      Sticky Notes:
      
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}" style="color: blue; ">Login</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
    <hr />
    {% with messages = get_flashed_messages() %} {% if messages %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
  </body>
</html>
