{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit_note.css') }}">
{% endblock %}

{% block content %}
<div class="sticky-note-edit">
    <form action="" method="post" class="note-form">
        {{ form.hidden_tag() }}
        <div>
          {{ form.title.label }} 
          {{ form.title(class='form-control') }}
          {% for error in form.title.errors %}
            <span style="color: red;" class="error">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div>
          {{ form.note.label }}
          {{ form.note(cols=12, rows=6) }}
          {% for error in form.note.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div>
            {{ form.color.label }}
            {{ form.color }}
            {% for error in form.color.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
        <div class="btns">
            <div>{{ form.submit }}</div>
            <button class="cancel" id="cancel-button">Cancel</button>    
        </div>
      </form>
      {{ ckeditor.load() }}
      {{ ckeditor.config(name='note', height='200px') }}
</div>

<!-- I almost forgot you can include javascript in html files lol -->
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var formModified = false;
        var form = document.querySelector('.sticky-note-edit form');
        var cancelButton = document.getElementById('cancel-button');

        form.addEventListener('change', function() {
            formModified = true;
        });

        cancelButton.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the form from submitting
            if (formModified) {
                var confirmLeave = confirm('You have unsaved changes. Are you sure you want to discard them?');
                if (confirmLeave) {
                    window.location.href = "{{ url_for('notes') }}"; // Redirect to the '/' or '/index' route
                }
            } else {
                window.location.href = "{{ url_for('notes') }}"; // Redirect if no changes made
            }
        });
    });
</script>
{% endblock %}

{% endblock %}