{% extends "base.html" %} 

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
  <h1>Hi, {{ current_user.username }}!</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.title.label }} <br>
      {{ form.title(size=32) }}
      {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.note.label }}<br>
      {{ form.note(cols=32, rows=4) }}
      {% for error in form.note.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit }}</p>
  </form>

  <div class="clearfix">
    {% for note in posts %}
    <div class="sticky-note">
      <div class="note-actions">
        <a href="/">Edit</a>
        <a href="/">Delete</a>
      </div>
      <p class="note-title">{{ note.title }}</p>
      <p class="note-content"><b>{{ note.body }}</p>
      <p class="note-details">
        Note ID: {{ note.id }} <br>
        {{ note.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
      </p>
    </div>
    {% endfor %} 
  </div>
  

{% endblock %}

