<!DOCTYPE html>
<html>

<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='userprofile.css')}}">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</head>

<body>

    <div class="button-container">
        <a href="{{ url_for('home') }}">
            <button class="home">Home</button>
        </a>
        <button class="edit-profile-btn" onclick="toggleFormVisibility()">Edit Profile</button>
    </div>

    <form id="edit-profile-form" method="post" action="{{ url_for('edit_profile') }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ current_user.name }}">
        <br>

        <label for="biography">Biography:</label>
        <textarea id="biography" name="biography">{{ current_user.biography }}</textarea>
        <br>

        <input type="submit" value="Save">
    </form>

    <div id="display-section">
        <h3>Profile Information:</h3>
        <p><strong>Name:</strong> {{ current_user.name }}</p>
        <p><strong>Biography:</strong> {{ current_user.biography }}</p>
    </div>

    <script>
        function toggleFormVisibility() {
            var form = document.getElementById('edit-profile-form');
            form.style.display = (form.style.display === 'none' || form.style.display === '') ? 'block' : 'none';
        }
    </script>
</body>

</html>
