

.profile {
    background-color: rgb(88, 19, 75);
    color: white;
    display: inline-block;
    height: 50px;
    width: 120px;
    margin-right: 80px;
}

.todo {
    background-color: rgb(33, 23, 135);
    color: white;
    display: inline-block;
    height: 50px;
    width: 120px;
    margin-right: 80px;
}

.add-note {
    background-color: green;
    color: white;
    display: inline-block;
    height: 50px;
    width: 120px;
    margin-right: 80px;
}

.AdvancedSearchForm {
    background-color: rgb(0, 113, 128);
    color: white;
    display: inline-block;
    height: 50px;
    width: 120px;
    margin-right: 80px;
}

.regex {
    background-color: rgb(155, 54, 232);
    color: white;
    display: inline-block;
    height: 50px;
    width: 120px;
    margin-right: 80px;
}

.g-cal {
    background-color: rgb(221, 46, 15);
    color: white;
    display: inline-block;
    height: 50px;
    width: 120px;
    margin-right: 80px;
}

.logout {
    background-color: rgb(0, 113, 128);
    color: white;
    display: inline-block;
    height: 50px;
    width: 120px;
    margin-right: 80px;
}
