/* styles.css */

.button-container {
    text-align: left;
}

.home {
    height: 50px;
    width: 100px;
    display: inline block;
    background-color: rgb(88, 19, 75);
    color: white;
    margin-right: 60px;
    
}

.todo {
    height: 50px;
    width: 100px;
    display: inline block;
    background-color: rgb(33, 23, 135);
    color: white;
    margin-right: 60px;
}

.profile {
    height: 50px;
    width: 120px;
    display: inline block;
    background-color: rgb(137, 143, 26);
    color: black;
    margin-right: 60px;
}

.add-note {
    height: 50px;
    width: 100px;
    display: inline block;
    background-color: green; /* Change 'green' to your preferred color */
    color: white;
    margin-right: 60px;
}
.logout{
    height: 50px;
    width: 100px;
    display: inline block;
    background-color: rgb(0, 113, 128); /* Change 'green' to your preferred color */
    color: white;
    margin-right: 60px;
}


.g-cal{
    height: 50px;
    width: 100px;
    display: inline block;
    background-color: rgb(221, 46, 15); /* Change 'green' to your preferred color */
    color: white;
    margin-right: 60px;
}

.AdvancedSearchForm{
    height: 50px;
    width: 100px;
    display: inline block;
    background-color: rgb(0, 113, 128); /* Change 'green' to your preferred color */
    color: white;
    margin-right: 60px;
}


.create_note{
    height: 50px;
    width: 100px;
    display: inline block;
    background-color: rgb(128, 0, 45);
    color: white;
    margin-right: 60px;
}

