body {
    background-image: url("{{ url_for('static', filename='stickynotes.jpg') }}");
    background-size: cover;  
    margin: 0; 
    font-family: Arial, sans-serif; 
}

nav {
    background-color: #333; /* Set a background color for the navigation bar */
    overflow: hidden; 
    display: flex; /* Use flexbox to distribute buttons evenly */
    justify-content: space-evenly; /* Evenly distribute buttons horizontally */
}

nav a {
    display: block; 
    color: white; /* Set text color to white */
    text-align: center; 
    padding: 14px 0; 
    text-decoration: none; 
    width: 14.28%; /* Set a width to evenly distribute the buttons (100% / 7 buttons) */
    box-sizing: border-box; 
}

nav a:hover {
    background-color: #ddd; /* Add a background color on hover */
    color: black; 
}

h2 {
    text-align: center;
    margin-top: 50px; 
    color: #fff; 
}

.button-container {
    text-align: center; 
    margin-top: 20px; 
}

.profile, .todo, .add-note, .AdvancedSearchForm, .regex, .g-cal, .logout {
    margin-right: 0;
}

.profile {
    background-color: rgb(88, 19, 75);
    color: white;
    display: inline-block;
    height: 50px;
}

.todo {
    background-color: rgb(33, 23, 135);
    color: white;
    display: inline-block;
    height: 50px;
}

.add-note {
    background-color: green;
    color: white;
    display: inline-block;
    height: 50px;
}

.AdvancedSearchForm {
    background-color: rgb(0, 113, 128);
    color: white;
    display: inline-block;
    height: 50px;
}

.regex {
    background-color: rgb(155, 54, 232);
    color: white;
    display: inline-block;
    height: 50px;
}

.g-cal {
    background-color: rgb(221, 46, 15);
    color: white;
    display: inline-block;
    height: 50px;
}

.logout {
    background-color: rgb(0, 113, 128);
    color: white;
    display: inline-block;
    height: 50px;
}
