body {
    text-align: center;
}

h1 {
    color: #333333;
}


.home {                       /*home button */ 
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px; 
}

#first {
    margin-top: 20px; 
}

.thick {
    font-weight: bold;
}

button.button1 {
    background-color: green;
    color: white;
    padding: 5px 10px;
    margin-left: 10px; 
}

.button2, .button3 {
    display: inline-block;
    background-color: #333333;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 5px; 
}

.Complete {
    background-color: #333333;
    color: green;
    padding: 5px 10px;
    font-weight: bold;
}
