
a:link {
  text-decoration: none;
}


div {
  text-align: left;
}


input {
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
}

/*  first container */
#first {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align to the left */
  justify-content: flex-start; /* Align to the top */
  height: 200vh;
  background-color: #f0f0f0; /* Grey background */

}

/*  home button */
.home {
  background-color: #dc3545;
  color: white;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: background-color 0.3s ease;

}

/* other buttons */
.button1, .button2, .button3 {
  width: 50px;
  height: 25px;
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
}


.button1 { /*  ADD Button*/
  background: #44c300;
  color: white;
}


.button2 {
  background: #4CAF50; /* Green completed button */
  color: white;
  padding: 10px;
  font-weight: bold;
  line-height: 25px;
}


.button3 {
  background: #dc3545; /* Red delete button */
  padding: 10px;
  color: white;
  font-weight: bold;
  line-height: 25px;
}

/* Styling for label */
.thick {
  color: rgb(23, 22, 22);
  padding: 8px;
  font-family: Arial;
}

/* Styling for table and its cells */
table, td {
  border: 1px none;
  padding: 15px;
}


h1 {
  color: #08005a;
  text-align: center;
}

/* Styling for Complete label */
.Complete {
  color: #dc3545; /* Red color for Not Complete label */
}
