body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #e2e2e2; /* TEXT BOX COLOR*/
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-container {
    text-align: left;
    margin-bottom: 30px;
}

.header-container h1 {
    font-size: 2.2em; /* Slightly smaller font size */
    color: #333; /* Darker color for better readability */
    margin: 0;
    margin-bottom: 12px;
}

.edit {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 20px;
    color: blue;
}

.edit:hover {
    color: gray;
}

.profile-info, .note-counter {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 20px;
}

.profile-info p, .note-counter p {
    font-size: 1.2em;
    color: #333;
}

.profile-info strong, .note-counter strong {
    font-weight: bold;
}

.back-btn {
    background-color: #dc3545;
    color: white;
    padding: 7px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #5a6268;
}

#edit-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-form {
    margin: 20px;
    padding: 20px;
    width: 400px;
    min-height: 360px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.note-form input[type="text"], 
.note-form textarea {
    width: 100%; 
    padding: 8px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.note-form input[type="submit"]:hover,
.note-form button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.8em;
}

.note-form input[type="submit"], 
.note-form button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btns {
    display: flex;
}

.note-form .cancel {
    background-color: rgb(255, 89, 89)
}

.note-form .cancel:hover {
    background-color: rgb(202, 76, 76);
}

.note-form input[type="submit"], 
.note-form button {
    min-width: 72px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}